
<mat-card>
  <mat-card-title>謝謝! Thank You!</mat-card-title>
  <mat-card-subtitle>歸功於 Credits</mat-card-subtitle>
  <mat-card-content>
    <mat-list-item>
      <p matLine>
        <mat-icon>favorite_border</mat-icon>
        <a matLine href="https://www.lynda.com/">Angular: Progressive Web Apps with Maximiliano Firtman, Lynda.com</a>
      </p>
    </mat-list-item>
    <mat-list-item>
      <p matLine>
        <mat-icon>favorite_border</mat-icon>
        <a matLine href="https://developers.google.com/web/progressive-web-apps/">Google Progressive Web Apps</a>
      </p>
    </mat-list-item>
    <mat-list-item>
      <p matLine>
        <mat-icon>favorite_border</mat-icon>
        <a matLine href="https://angular.io/">Angular</a>
      </p>
    </mat-list-item>
    <mat-list-item>
      <p matLine>
        <mat-icon>favorite_border</mat-icon>
        <a matLine href="https://material.angular.io/">Angular Material</a>
      </p>
    </mat-list-item>
    <mat-list-item>
      <p matLine>
        <mat-icon>favorite_border</mat-icon>
        <a matLine href="https://material.io/icons/">Material Icons</a>
      </p>
    </mat-list-item>
    <mat-list-item>
      <p matLine>
        <mat-icon>favorite_border</mat-icon>
        <a matLine href="https://materialdesignicons.com/">Material Design Icons</a>
      </p>
    </mat-list-item>
    <mat-list-item>
      <p matLine>
        <mat-icon>favorite_border</mat-icon>
        <a matLine href="http://www.typescriptlang.org/">TypeScript</a>
      </p>
    </mat-list-item>
    <mat-list-item>
      <p matLine>
        <mat-icon>favorite_border</mat-icon>
        <a matLine href="https://en.wikipedia.org/wiki/HTML5">Wikipedia HTML5</a>
      </p>
    </mat-list-item>
  </mat-card-content>
</mat-card>
