<mat-card>
  <mat-card-title>優視頻道全天候直播</mat-card-title>
  <mat-nav-list>
    <mat-list-item>
      <p matLine>
        <mat-icon>videocam</mat-icon>
        <a matLine href="http://www.uchanneltv.us/live-streaming.html">直播</a>
      </p>
    </mat-list-item>
  </mat-nav-list>
</mat-card>

<!--
<p>
  <iframe src="http://content.streamhoster.com/player/lv_uchannel/broadcast1?autoPlay=1&showPlayPauseBtn=0" width="640" height="360" frameborder="0" scrolling="no" webkitAllowFullScreen allowFullScreen></iframe>
</p>
-->
