<mat-card>
  <mat-card-title>優視觀眾喜愛的優質節目</mat-card-title>
  <mat-card-subtitle>優視 全美#1華人非營利、全方位、生活頻道</mat-card-subtitle>
  <mat-nav-list>
    <mat-list-item>
      <div style="text-align:left">
        <p matLine>
          <a matLine href="http://content.streamhoster.com/player/lv_uchannel/broadcast1?autoPlay=1&showPlayPauseBtn=0">
            <button mat-raised-button color="accent">優視直播 LIVE!</button></a>
        </p>
      </div>            
    </mat-list-item>
    <mat-list-item>
      <p matLine>
        <a matLine href="https://www.youtube.com/playlist?list=PLvrKRwXvxwNpOsHDaiaR0MLEdIegFgiqk">
          <mat-icon aria-hidden="true">visibility</mat-icon>優視焦點新聞 Daily News Focus</a>
      </p>
    </mat-list-item>
    <mat-list-item>
      <p matLine>
        <a matLine href="https://www.youtube.com/playlist?list=PLvrKRwXvxwNr7gGas3gYFQM-ObTAllN58">
          <mat-icon aria-hidden="true">monetization_on</mat-icon>優視財經趨勢 Financial Trend</a>
      </p>
    </mat-list-item>
    <mat-list-item>
      <p matLine>
        <a matLine href="https://www.youtube.com/playlist?list=PLvrKRwXvxwNrnQ7cjnIuAq11rGQ0Jgsrj">
          <mat-icon aria-hidden="true">high_quality</mat-icon>優視矽谷龍門陣 Spin a Yarn Silicon Valley</a>
      </p>
    </mat-list-item>
    <mat-list-item>
      <p matLine>
        <a matLine href="https://www.youtube.com/playlist?list=PLvrKRwXvxwNpxnJPPR5VxRUaTbzH9Kfb-">
          <mat-icon aria-hidden="true">mic</mat-icon>優視焦點話題 News Topic Focus</a>
      </p>
    </mat-list-item>
    <mat-list-item>
      <p matLine>
        <a matLine href="https://www.youtube.com/playlist?list=PLvrKRwXvxwNp3rG5hYhUBPT4TVyKPSPoB">
          <mat-icon aria-hidden="true">event_seat</mat-icon>優視社區看板 Bulletin Board</a>
      </p>
    </mat-list-item>

    <!-------------------------------->
    <mat-list-item>
      <p matLine>
        <a matLine href="https://www.youtube.com/playlist?list=PLvrKRwXvxwNpWFWxm7jhmJ5GTPhtupMTs">
          <mat-icon aria-hidden="true" color="accent">language</mat-icon>優視灣區資訊站 Bay Area News</a>
      </p>
    </mat-list-item>
    <mat-list-item>
      <p matLine>
        <a matLine href="https://www.youtube.com/playlist?list=PLvrKRwXvxwNohJ42Nfz5LhR13_e1XvRsh">
          <mat-icon aria-hidden="true" color="accent">directions_walk</mat-icon>優視優健康 U Health</a>
      </p>
    </mat-list-item>
    <mat-list-item>
      <p matLine>
        <a matLine href="https://www.youtube.com/playlist?list=PLvrKRwXvxwNrqmcHAypLbK3-JGD0H9ipR">
          <mat-icon aria-hidden="true" color="accent">web</mat-icon>優視焦點對話錄 Dialogue with Benny</a>
      </p>
    </mat-list-item>
    <mat-list-item>
      <p matLine>
        <a matLine href="https://www.youtube.com/playlist?list=PLvrKRwXvxwNoZW9dCOrqhOGCM2OV7ENAL">
          <mat-icon aria-hidden="true" color="accent">restaurant_menu</mat-icon>優視 U 廚房 U Kitchen</a>
      </p>
    </mat-list-item>
    <mat-list-item>
      <p matLine>
        <a matLine href="https://www.youtube.com/playlist?list=PLvrKRwXvxwNqiq1EwWJttFx-cgnp1f6aM">
          <mat-icon aria-hidden="true" color="accent">local_atm</mat-icon>優視焦點財經 Financial Focus</a>
      </p>
    </mat-list-item>

    <!-------------------------------->
    <mat-list-item>
      <p matLine>
        <a matLine href="https://www.youtube.com/playlist?list=PLvrKRwXvxwNozRwrVUcG_rm-mLt93FNRn">
          <mat-icon aria-hidden="true" color="primary">directions_bike</mat-icon>優視優體育 U Sports</a>
      </p>
    </mat-list-item>
    <mat-list-item>
      <p matLine>
        <a matLine href="https://www.youtube.com/playlist?list=PLvrKRwXvxwNoM3o6LuGMQGVu7Ij_B_Z9N">
          <mat-icon aria-hidden="true" color="primary">link</mat-icon>優視荷你有約 Tily with You</a>
      </p>
    </mat-list-item>
    <mat-list-item>
      <p matLine>
        <a matLine href="https://www.youtube.com/playlist?list=PLvrKRwXvxwNp5otTZYxnlOCsiSzna1umR">
          <mat-icon aria-hidden="true" color="primary">flight</mat-icon>優視 U 旅遊 U Travel</a>
      </p>
    </mat-list-item>
    <mat-list-item>
      <p matLine>
        <a matLine href="https://www.youtube.com/playlist?list=PLvrKRwXvxwNqC4BOpghhEWvdudrhzIjKG">
          <mat-icon aria-hidden="true" color="primary">music_video</mat-icon>優視 U 音樂 U Music</a>
      </p>
    </mat-list-item>
    <mat-list-item>
      <p matLine>
        <a matLine href="https://www.youtube.com/playlist?list=PLvrKRwXvxwNqR6zXL6jVFDJtptX_6Tizh">
          <mat-icon aria-hidden="true" color="primary">movie_creation</mat-icon>優視原創紀錄片 Original Documentary Collection</a>
      </p>
    </mat-list-item>

    <!-------------------------------->
    <mat-list-item>
      <p matLine>
        <a matLine href="https://www.youtube.com/playlist?list=PLvrKRwXvxwNrfPzGqA0KjrVaqxZxB5EMn">
          <mat-icon aria-hidden="true" color="warn">color_lens</mat-icon>優視生活萬花筒 Lifestyle Kaleidoscope</a>
      </p>
    </mat-list-item>
    <mat-list-item>
      <p matLine>
        <a matLine href="https://www.youtube.com/playlist?list=PLvrKRwXvxwNrYFgguKTpC8Apl0wac9s8i">
          <mat-icon aria-hidden="true" color="warn">theaters</mat-icon>優視爆米花電影院 Popcorn Theater</a>
      </p>
    </mat-list-item>
    <mat-list-item>
      <p matLine>
        <a matLine href="https://www.youtube.com/playlist?list=PLvrKRwXvxwNrcn79-UyEtm-ukREz080XF">
          <mat-icon aria-hidden="true" color="warn">local_library</mat-icon>優視優百科</a>
      </p>
    </mat-list-item>
    <mat-list-item>
      <p matLine>
        <a matLine href="https://www.youtube.com/playlist?list=PLvrKRwXvxwNphPUQ2OkV96BDHTXrRkCMz">
          <mat-icon aria-hidden="true" color="warn">collections</mat-icon>優視灣區活動推薦 Weekly Announcement</a>
      </p>
    </mat-list-item>
    <mat-list-item>
      <p matLine>
        <a matLine href="http://www.uchanneltv.us/-a-life-of-victory.html">
          <mat-icon aria-hidden="true" color="warn">directions_run</mat-icon>跨越的人生</a>
      </p>
    </mat-list-item>

    <!-------------------------------->
    <mat-list-item>
      <p matLine>
        <a matLine href="https://www.youtube.com/playlist?list=PLvrKRwXvxwNqcHawCtBDhY8U6wDBUP5Zf">
          <mat-icon aria-hidden="true">camera_roll</mat-icon>優視優預覽 U-Previews</a>
      </p>
    </mat-list-item>
  </mat-nav-list>
</mat-card>

<mat-card>
  <mat-card-title>聯絡優視頻道</mat-card-title>
  <mat-card-content>
    <mat-nav-list>
      <mat-list-item>
        <!--YouTube SVG-->
        <a href="https://www.youtube.com/user/Uchannelus">
          <mat-icon color="accent">
            <svg style="width:48px;height:48px" viewBox="0 0 48 48">
                <path fill="#ff0000" d="M10,16.5V7.5L16,12M20,4.4C19.4,4.2 15.7,4 12,4C8.3,4 4.6,4.19 4,4.38C2.44,4.9 2,8.4 2,12C2,15.59 2.44,19.1 4,19.61C4.6,19.81 8.3,20 12,20C15.7,20 19.4,19.81 20,19.61C21.56,19.1 22,15.59 22,12C22,8.4 21.56,4.91 20,4.4Z" />
            </svg>
          </mat-icon>
        </a>
        &nbsp;
      </mat-list-item>
      <mat-list-item>
        <!--Facebook SVG-->
        <a href="https://www.facebook.com/UchannelTV/">
          <mat-icon>
            <svg style="width:48px;height:48px" viewBox="0 0 48 48">
              <path fill="#0000ff" d="M365,3H19A2,2 0 0,1 21,5V19A2,2 0 0,1 19,21H5A2,2 0 0,1 3,19V5A2,2 0 0,1 5,3M18,5H15.5A3.5,3.5 0 0,0 12,8.5V11H10V14H12V21H15V14H18V11H15V9A1,1 0 0,1 16,8H18V5Z" />
            </svg>
          </mat-icon>
        </a>
        &nbsp;
      </mat-list-item>
      <mat-list-item>
        <!--Twitter SVG-->
        <a href="https://twitter.com/uchanneltvus">
          <mat-icon>
            <svg style="width:48px;height:48px" viewBox="0 0 48 48">
              <path fill="#0000ff" d="M5,3H19A2,2 0 0,1 21,5V19A2,2 0 0,1 19,21H5A2,2 0 0,1 3,19V5A2,2 0 0,1 5,3M17.71,9.33C18.19,8.93 18.75,8.45 19,7.92C18.59,8.13 18.1,8.26 17.56,8.33C18.06,7.97 18.47,7.5 18.68,6.86C18.16,7.14 17.63,7.38 16.97,7.5C15.42,5.63 11.71,7.15 12.37,9.95C9.76,9.79 8.17,8.61 6.85,7.16C6.1,8.38 6.75,10.23 7.64,10.74C7.18,10.71 6.83,10.57 6.5,10.41C6.54,11.95 7.39,12.69 8.58,13.09C8.22,13.16 7.82,13.18 7.44,13.12C7.81,14.19 8.58,14.86 9.9,15C9,15.76 7.34,16.29 6,16.08C7.15,16.81 8.46,17.39 10.28,17.31C14.69,17.11 17.64,13.95 17.71,9.33Z" />
            </svg>
          </mat-icon>
        </a>
        &nbsp;
      </mat-list-item>
      <mat-list-item>
        <!--Vimeo SVG-->
        <a href="https://vimeo.com/uchanneltv">
          <mat-icon>
            <svg style="width:48px;height:48px" viewBox="0 0 48 48">
                <path fill="#0000ff" d="M22,7.42C21.91,9.37 20.55,12.04 17.92,15.44C15.2,19 12.9,20.75 11,20.75C9.85,20.75 8.86,19.67 8.05,17.5C7.5,15.54 7,13.56 6.44,11.58C5.84,9.42 5.2,8.34 4.5,8.34C4.36,8.34 3.84,8.66 2.94,9.29L2,8.07C3,7.2 3.96,6.33 4.92,5.46C6.24,4.32 7.23,3.72 7.88,3.66C9.44,3.5 10.4,4.58 10.76,6.86C11.15,9.33 11.42,10.86 11.57,11.46C12,13.5 12.5,14.5 13.05,14.5C13.47,14.5 14.1,13.86 14.94,12.53C15.78,11.21 16.23,10.2 16.29,9.5C16.41,8.36 15.96,7.79 14.94,7.79C14.46,7.79 13.97,7.9 13.46,8.12C14.44,4.89 16.32,3.32 19.09,3.41C21.15,3.47 22.12,4.81 22,7.42Z" />
            </svg>
          </mat-icon>
        </a>
        &nbsp;
      </mat-list-item>
      <mat-list-item>
        <p matLine>
          <img src="../images/uchanneltv_qrcode.png" />
        </p>
      </mat-list-item>
      <mat-list-item>
        <p matLine>
          <mat-icon>videocam</mat-icon>
          優視頻道 UChannel TV<br/>
          1177 Laurelwood Rd.<br/>
          Santa Clara CA95054<br/>
          408-868-2615<br/>
        </p>
      </mat-list-item>
      <mat-list-item>
        <p matLine> 
          <a matLine href="http://www.uchanneltv.us">
            <mat-icon aria-hidden="true" color="primary">language</mat-icon>優視頻道網站</a>
        </p>
      </mat-list-item>
      <mat-list-item>
        <p matLine>
          <a matLine href="https://www.youtube.com/playlist?list=PLvrKRwXvxwNqx3WhC7mpE04utCzHkvMgL">
            <mat-icon aria-hidden="true" color="primary">camera</mat-icon>優視介紹優視 Introduction</a>
        </p>
      </mat-list-item>
      <mat-list-item>
        <p matLine>
          <a matLine routerLink="/thank-you">
            <mat-icon aria-hidden="true" color="accent">favorite</mat-icon>謝謝! Thank You!</a>
        </p>
      </mat-list-item>
      <mat-list-item>
        <p matLine>
          <mat-icon aria-hidden="true">copyright</mat-icon>
          2017 優視頻道 UChannelTV. All rights reserved.
        </p>
      </mat-list-item>
    </mat-nav-list>
  </mat-card-content>
</mat-card>
