<mat-card>
  <a matLine href="http://www.uchanneltv.us">
    <img src="../../images/uchanneltv_logo.jpg" alt="優視頻道" height="100%" width="100%" />  
  </a>
</mat-card>
<mat-card>
  <mat-card-title>優視直播 LIVE!</mat-card-title>
  <mat-card-subtitle>優視 全美#1華人非營利、全方位、生活頻道</mat-card-subtitle>
  <mat-card-content>
    <div class="iframe-container iframe-container-16x9" style="-webkit-overflow-scrolling: touch; overflow: auto;">
      <iframe src="https://content.streamhoster.com/player/lv_uchannel/broadcast1?autoPlay=1&showPlayPauseBtn=0" allowFullScreen>
        There is iframe content being displayed here but your browser version does not support iframes.</iframe>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <a matLine href="http://content.streamhoster.com/player/lv_uchannel/broadcast1?autoPlay=1&showPlayPauseBtn=0">
      <button mat-raised-button>
        <mat-icon matListIcon aria-hidden="true">videocam</mat-icon>          
        優視直播 LIVE!
      </button>
    </a>
  </mat-card-actions>
</mat-card>
<mat-card>
  <mat-card-title>觀眾喜愛的優質節目</mat-card-title>
  <mat-nav-list>
    <mat-list-item>
      <mat-icon matListIcon aria-hidden="true" color="primary">visibility</mat-icon>
      <a matLine href="https://www.youtube.com/playlist?list=PLvrKRwXvxwNpOsHDaiaR0MLEdIegFgiqk">
        <strong matLine>優視焦點新聞</strong>
      </a>
      <p matLine>報導熱門焦點新聞，掌握灣區華人關心話題. 星期一至五​ 每晚七時半播出.</p>
    </mat-list-item>
    <mat-list-item>
      <mat-icon matListIcon aria-hidden="true" color="primary">monetization_on</mat-icon>
      <a matLine href="https://www.youtube.com/playlist?list=PLvrKRwXvxwNr7gGas3gYFQM-ObTAllN58">
        <strong matLine>優視財經趨勢</strong>
      </a>
      <p matLine>世界產業趨勢變化、精闢探討財經分析.</p>
    </mat-list-item>
    <mat-list-item>
      <mat-icon matListIcon aria-hidden="true" color="primary">high_quality</mat-icon>
      <a matLine href="https://www.youtube.com/playlist?list=PLvrKRwXvxwNrnQ7cjnIuAq11rGQ0Jgsrj">
        <strong matLine>優視矽谷龍門陣</strong>
      </a>
      <p matLine>從各角度探索矽谷精神，研究創新主題，思考科技人文.</p>
    </mat-list-item>
    <mat-list-item>
      <mat-icon matListIcon aria-hidden="true" color="primary">mic</mat-icon>
      <a matLine href="https://www.youtube.com/playlist?list=PLvrKRwXvxwNpxnJPPR5VxRUaTbzH9Kfb-">
        <strong matLine>優視焦點話題</strong>
      </a>
      <p matLine>關心世界大事，熱門時事，緊貼情事脈動的話題！每週六下午時段首播.</p>
    </mat-list-item>
    <mat-list-item>
      <mat-icon matListIcon aria-hidden="true" color="primary">event_seat</mat-icon>
      <a matLine href="https://www.youtube.com/playlist?list=PLvrKRwXvxwNp3rG5hYhUBPT4TVyKPSPoB">
        <strong matLine>優視社區看板</strong>
      </a>
      <p matLine>提供灣區藝文活動，促進華人交流平台.</p>
    </mat-list-item>
    <mat-list-item>
      <mat-icon matListIcon aria-hidden="true" color="primary">language</mat-icon>
      <a matLine href="https://www.youtube.com/playlist?list=PLvrKRwXvxwNpWFWxm7jhmJ5GTPhtupMTs">
        <strong matLine>優視灣區資訊站</strong>
      </a>
      <p matLine>全方位提供最新灣區社團資訊。政、經、藝、文活動報導，為您的生活加油助力！</p>
    </mat-list-item>
    <mat-list-item>
      <mat-icon matListIcon aria-hidden="true" color="primary">directions_walk</mat-icon>
      <a matLine href="https://www.youtube.com/playlist?list=PLvrKRwXvxwNohJ42Nfz5LhR13_e1XvRsh">
        <strong matLine>優視優健康</strong>
      </a>
      <p matLine>優視優健康</p>
    </mat-list-item>
    <mat-list-item>
      <mat-icon matListIcon aria-hidden="true" color="primary">web</mat-icon>
      <a matLine href="https://www.youtube.com/playlist?list=PLvrKRwXvxwNrqmcHAypLbK3-JGD0H9ipR">
        <strong matLine>優視焦點對話錄</strong>
      </a>
      <p matLine>優視焦點對話錄</p>
    </mat-list-item>
    <mat-list-item>
      <mat-icon matListIcon aria-hidden="true" color="primary">restaurant_menu</mat-icon>
      <a matLine href="https://www.youtube.com/playlist?list=PLvrKRwXvxwNoZW9dCOrqhOGCM2OV7ENAL">
        <strong matLine>優視 U 廚房</strong>
      </a>
      <p matLine>輕鬆快樂的介紹大家如何做出一道一道的愛心美食，帶來廚房精緻料理新享受！每週六、日精彩播出.</p>
    </mat-list-item>
    <mat-list-item>
      <mat-icon matListIcon aria-hidden="true" color="primary">local_atm</mat-icon>
      <a matLine href="https://www.youtube.com/playlist?list=PLvrKRwXvxwNqiq1EwWJttFx-cgnp1f6aM">
        <strong matLine>優視焦點財經</strong>
      </a>
      <p matLine>分析財經動線、產業趨勢. 星期三和星期五​播出.</p>
    </mat-list-item>
    <mat-list-item>
      <mat-icon matListIcon aria-hidden="true" color="primary">directions_bike</mat-icon>
      <a matLine href="https://www.youtube.com/playlist?list=PLvrKRwXvxwNozRwrVUcG_rm-mLt93FNRn">
        <strong matLine>優視優體育</strong>
      </a>
      <p matLine>優視優體育</p>
    </mat-list-item>
    <mat-list-item>
      <mat-icon matListIcon aria-hidden="true" color="primary">link</mat-icon>
      <a matLine href="https://www.youtube.com/playlist?list=PLvrKRwXvxwNoM3o6LuGMQGVu7Ij_B_Z9N">
        <strong matLine>優視荷你有約</strong>
      </a>
      <p matLine>是一個內容輕鬆活潑，資訊豐富多元，且囊括最新時事的節.</p>
    </mat-list-item>
    <mat-list-item>
      <mat-icon matListIcon aria-hidden="true" color="primary">flight</mat-icon>
      <a matLine href="https://www.youtube.com/playlist?list=PLvrKRwXvxwNp5otTZYxnlOCsiSzna1umR">
        <strong matLine>優視 U 旅遊</strong>
      </a>
      <p matLine>介紹各地美景特色，文化風俗，趣味亮點的景點，給您全家共享最優質的旅遊好去
        處！每週六、日精彩播出.</p>
    </mat-list-item>
    <mat-list-item>
      <mat-icon matListIcon aria-hidden="true" color="primary">music_video</mat-icon>
      <a matLine href="https://www.youtube.com/playlist?list=PLvrKRwXvxwNqC4BOpghhEWvdudrhzIjKG">
        <strong matLine>優視 U 音樂</strong>
      </a>
      <p matLine>用音樂點燃熱情, 用藝術守望夢想. 重溫經典記錄時代、點燃熱情守望夢想，透過音樂為您新靈帶來慰藉與啟發. 每週六、日精彩播出.</p>
    </mat-list-item>
    <mat-list-item>
      <mat-icon matListIcon aria-hidden="true" color="primary">movie_creation</mat-icon>
      <a matLine href="https://www.youtube.com/playlist?list=PLvrKRwXvxwNqR6zXL6jVFDJtptX_6Tizh">
        <strong matLine>優視原創紀錄片</strong>
      </a>
      <p matLine>優視原創紀錄片</p>
    </mat-list-item>
    <mat-list-item>
      <mat-icon matListIcon aria-hidden="true" color="primary">color_lens</mat-icon>
      <a matLine href="https://www.youtube.com/playlist?list=PLvrKRwXvxwNrfPzGqA0KjrVaqxZxB5EMn">
        <strong matLine>優視生活萬花筒</strong>
      </a>
      <p matLine>1.啓發您對生活層面的熱情與活力. 2.增加您在生活中的咨詢與知識. 3.提昇您的身心靈更加健康與豐富.</p>
    </mat-list-item>
    <mat-list-item>
      <mat-icon matListIcon aria-hidden="true" color="primary">theaters</mat-icon>
      <a matLine href="https://www.youtube.com/playlist?list=PLvrKRwXvxwNrYFgguKTpC8Apl0wac9s8i">
        <strong matLine>優視爆米花電影院</strong>
      </a>
      <p matLine>優視爆米花電影院</p>
    </mat-list-item>
    <mat-list-item>
      <mat-icon matListIcon aria-hidden="true" color="primary">collections</mat-icon>
      <a matLine href="https://www.youtube.com/playlist?list=PLvrKRwXvxwNphPUQ2OkV96BDHTXrRkCMz">
        <strong matLine>優視灣區活動推薦</strong>
      </a>
      <p matLine>優視灣區活動推薦</p>
    </mat-list-item>
    <mat-list-item>
      <mat-icon matListIcon aria-hidden="true" color="primary">local_library</mat-icon>
      <a matLine href="https://www.youtube.com/playlist?list=PLvrKRwXvxwNrcn79-UyEtm-ukREz080XF">
        <strong matLine>優視優百科</strong>
      </a>
      <p matLine>優視優百科</p>
    </mat-list-item>
    <mat-list-item>
      <mat-icon matListIcon aria-hidden="true" color="primary">directions_run</mat-icon>
      <a matLine href="http://www.uchanneltv.us/-a-life-of-victory.html">
        <strong matLine>跨越的人生</strong>
      </a>
      <p matLine>生命成長的關鍵在於不斷的跨越. 矽谷生命河靈糧堂 劉彤牧師主講.</p>
    </mat-list-item>
    <mat-list-item>
      <mat-icon matListIcon aria-hidden="true" color="primary">camera_roll</mat-icon>
      <a matLine href="https://www.youtube.com/playlist?list=PLvrKRwXvxwNqcHawCtBDhY8U6wDBUP5Zf">
        <strong matLine>優視預告片</strong>
      </a>
      <p matLine>優視預告片</p>
    </mat-list-item>
  </mat-nav-list>
</mat-card>

<mat-card>
  <mat-card-title>聯絡優視頻道</mat-card-title>
  <mat-card-content>
    <mat-grid-list cols="4" rowHeight="2:1">
      <mat-grid-tile>
        <a href="https://www.youtube.com/user/Uchannelus">
          <mat-icon>
            <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                <path fill="#ff0000" d="M10,16.5V7.5L16,12M20,4.4C19.4,4.2 15.7,4 12,4C8.3,4 4.6,4.19 4,4.38C2.44,4.9 2,8.4 2,12C2,15.59 2.44,19.1 4,19.61C4.6,19.81 8.3,20 12,20C15.7,20 19.4,19.81 20,19.61C21.56,19.1 22,15.59 22,12C22,8.4 21.56,4.91 20,4.4Z" />
            </svg>
          </mat-icon></a>
      </mat-grid-tile>
      <mat-grid-tile>
        <a href="https://www.facebook.com/UchannelTV/">
          <mat-icon>
            <svg style="width:24px;height:24px" viewBox="0 0 24 24">
              <path fill="#0000ff" d="M365,3H19A2,2 0 0,1 21,5V19A2,2 0 0,1 19,21H5A2,2 0 0,1 3,19V5A2,2 0 0,1 5,3M18,5H15.5A3.5,3.5 0 0,0 12,8.5V11H10V14H12V21H15V14H18V11H15V9A1,1 0 0,1 16,8H18V5Z" />
            </svg>
          </mat-icon></a>
      </mat-grid-tile>
      <mat-grid-tile>
        <a href="https://twitter.com/uchanneltvus">
          <mat-icon>
            <svg style="width:24px;height:24px" viewBox="0 0 24 24">
              <path fill="#0000ff" d="M5,3H19A2,2 0 0,1 21,5V19A2,2 0 0,1 19,21H5A2,2 0 0,1 3,19V5A2,2 0 0,1 5,3M17.71,9.33C18.19,8.93 18.75,8.45 19,7.92C18.59,8.13 18.1,8.26 17.56,8.33C18.06,7.97 18.47,7.5 18.68,6.86C18.16,7.14 17.63,7.38 16.97,7.5C15.42,5.63 11.71,7.15 12.37,9.95C9.76,9.79 8.17,8.61 6.85,7.16C6.1,8.38 6.75,10.23 7.64,10.74C7.18,10.71 6.83,10.57 6.5,10.41C6.54,11.95 7.39,12.69 8.58,13.09C8.22,13.16 7.82,13.18 7.44,13.12C7.81,14.19 8.58,14.86 9.9,15C9,15.76 7.34,16.29 6,16.08C7.15,16.81 8.46,17.39 10.28,17.31C14.69,17.11 17.64,13.95 17.71,9.33Z" />
            </svg>
          </mat-icon></a>
      </mat-grid-tile>
      <mat-grid-tile>
        <a href="https://vimeo.com/uchanneltv">
          <mat-icon>
            <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                <path fill="#0000ff" d="M22,7.42C21.91,9.37 20.55,12.04 17.92,15.44C15.2,19 12.9,20.75 11,20.75C9.85,20.75 8.86,19.67 8.05,17.5C7.5,15.54 7,13.56 6.44,11.58C5.84,9.42 5.2,8.34 4.5,8.34C4.36,8.34 3.84,8.66 2.94,9.29L2,8.07C3,7.2 3.96,6.33 4.92,5.46C6.24,4.32 7.23,3.72 7.88,3.66C9.44,3.5 10.4,4.58 10.76,6.86C11.15,9.33 11.42,10.86 11.57,11.46C12,13.5 12.5,14.5 13.05,14.5C13.47,14.5 14.1,13.86 14.94,12.53C15.78,11.21 16.23,10.2 16.29,9.5C16.41,8.36 15.96,7.79 14.94,7.79C14.46,7.79 13.97,7.9 13.46,8.12C14.44,4.89 16.32,3.32 19.09,3.41C21.15,3.47 22.12,4.81 22,7.42Z" />
            </svg>
          </mat-icon></a>
      </mat-grid-tile>
    </mat-grid-list>
    
    <div>
      優視頻道 UChannel TV<br/>
      1177 Laurelwood Rd.<br/>
      Santa Clara CA95054<br/>
      408-868-2615<br/>
    </div>
    <mat-nav-list>
      <mat-list-item>
          <mat-icon matListIcon aria-hidden="true" color="primary">home</mat-icon>
          <a matLine href="http://www.uchanneltv.us">
            優視頻道網站
          </a>
      </mat-list-item>
      <mat-list-item>
          <mat-icon matListIcon aria-hidden="true" color="primary">camera</mat-icon>
          <a matLine href="https://www.youtube.com/playlist?list=PLvrKRwXvxwNqx3WhC7mpE04utCzHkvMgL">
            介紹優視頻道
          </a>
      </mat-list-item>
    </mat-nav-list>
  </mat-card-content>
</mat-card>
<mat-card>
  <mat-card-content>
    <img src="../images/uchanneltv_qrcode.png" />
    <mat-nav-list dense>
      <mat-list-item>
        <mat-icon matListIcon aria-hidden="true" color="accent">favorite</mat-icon>
        <a matLine routerLink="/thank-you">
          謝謝! Thank You!
        </a>
      </mat-list-item>
      <mat-list-item>
        <mat-icon matListIcon aria-hidden="true" color="primary">copyright</mat-icon>
        2017 優視頻道 UChannelTV. All rights reserved.
      </mat-list-item>
    </mat-nav-list>
  </mat-card-content>
</mat-card>
